<div class="bigCardContainer">
  <div class="bigCardPhoto">
    <img
      src="https://www.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg"
      alt=""
      srcset=""
      height="200px"
    />
  </div>

  <div class="bigCardTitle">
    <h1><a href="#">Teste de novo titulo</a></h1>
  </div>
  <div class="bigCardDescription">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        optio voluptate, reiciendis officiis mollitia, saepe illo nam enim
        corrupti iusto deserunt, distinctio necessitatibus molestiae unde eius
        magnam quae ducimus cum!</a
      >
    </p>
  </div>
</div>
