.smallCardContainer{
margin-top: 10px;
width: 700px;


}
.smallCardContent{
  display: flex;
flex-direction: row;

}
.smallCardPhoto > img{
width: 200px;
min-height: 200px;
margin-right: 20px;
}
.smallCardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  margin-top: 20px;
}

