
<app-menu-title></app-menu-title>



<div class="articlesContainer">
  <div class="articlesMain">
    <app-big-card
    Id="1"
    photoCover="https://blog.br.playstation.com/tachyon/sites/4/2022/06/c50ed40ccbee94460e55dee40a077efc09474a20.jpg" 
    cardTitle="teste02"
    cardDescription="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae consequuntur minus totam laborum voluptates ullam eligendi doloremque, quam cum quod nesciunt similique sint quibusdam animi libero eum? Quaerat, similique.
    "
    >
    
  </app-big-card>
  </div>
  <div class="articlesOthers">
    <app-small-card 
    Id="2"
    cardTitle="novo titulo para teste"
    photoCover="https://www.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg"></app-small-card>

   
  </div>
</div>